<section class="about-us container">
  <h2 class="about-title">Про нас</h2>
  <p class="about-text">
    У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
    приносять радість та задоволення. Наша місія — пропонувати високоякісні
    десерти, які поєднують у собі вишуканий смак, свіжі інгредієнти та
    естетичний вигляд.
  </p>
  <ul class="about-list">
    <li class="about-list-item">
      <img class="about-image" src="" alt="" />
    </li>
    <li class="about-list-item">
      <img class="about-image" src="" alt="" />
    </li>
    <li class="about-list-item">
      <img class="about-image" src="" alt="" />
    </li>
    <li class="about-list-item">
      <img class="about-image" src="" alt="" />
    </li>
  </ul>
</section>
