<section class="faq section">
  <div class="container">
    <h1 class="section-title faq-title">Часті питання</h1>
    <!-- FAQ ACCORDION -->
    <!-- 1 -->
    <div class="faq-accordion js-faq-accordion">
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">1. Які способи оплати ви приймаєте?</p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <!-- 2 -->

      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">2. Чи є у вас доставка?</p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>

      <!-- 3 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">3. Як швидко здійснюється доставка?</p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 4 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            4. Чи можна забрати замовлення самостійно?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 5 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            5. Чи пропонуєте ви десерти для людей з особливими дієтичними
            потребами (безглютенові, безлактозні, веганські)?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 6 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            6. Як я можу зробити замовлення на індивідуальний торт?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 7 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            7. Чи можна змінити або скасувати замовлення після його оформлення?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 8 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            8. Який термін зберігання ваших десертів?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 9 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            9. Чи є у вас програма лояльності або знижки для постійних клієнтів?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
      <!-- 10 -->
      <div class="faq-ac js-faq-ac">
        <h2 class="faq-ac-header js-faq-ac-header">
          <p class="faq-ac-header-text">
            10. Що робити, якщо у мене є скарга або пропозиція?
          </p>
          <button type="button" class="faq-ac-trigger js-faq-ac-trigger">
            <svg width="32" height="32">
              <use href="/img/faq/sprite.svg#faq-accrdion-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="faq-ac-panel js-faq-ac-panel">
          <p class="faq-ac-text js-faq-ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
