<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <a class="footer-logo" href="index.html">
        <svg class="footer-logo-svg" width="148" height="112">
          <use href="/img/icons.svg#logoicon"></use>
        </svg>
      </a>

      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#Солодощі">Солодощі</a>
          </li>

          <li class="footer-item">
            <a class="footer-link" href="#Про нас">Про нас</a>
          </li>

          <li class="footer-item">
            <a class="footer-link" href="#Відгуки">Відгуки</a>
          </li>

          <li class="footer-item">
            <a class="footer-link" href="#faq">Часті питання</a>
          </li>
        </ul>
      </nav>

      <ul class="social-list">
        <li class="social-item">
          <a
            class="social-link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="./img/icons.svg#Facebookicon"></use>
            </svg>
          </a>
        </li>

        <li class="social-item">
          <a
            class="social-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="/img/icons.svg#Instagramicon"></use>
            </svg>
          </a>
        </li>

        <li class="social-item">
          <a
            class="social-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg class="social-icon" width="24" height="24">
              <use href="/img/icons.svg#Youtubeicon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">© 2025 Солодка Майстерня. Усі права захищені.</p>
  </div>
</footer>
