<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <!-- Logo -->
      <a href="#" class="header-logo">
        <svg class="header-logo-svg" width="146" height="31">
          <use href="/img/icons.svg#logoicon"></use>
        </svg>
      </a>

      <!-- Menu -->
      <ul class="header-list">
        <li class="header-list-item">
          <a href="#sweets" class="header-item-link">Солодощі</a>
        </li>
        <li class="header-list-item">
          <a href="#about" class="header-item-link">Про нас</a>
        </li>
        <li class="header-list-item">
          <a href="#reviews" class="header-item-link">Відгуки</a>
        </li>
        <li class="header-list-item">
          <a href="#faq" class="header-item-link">Часті питання</a>
        </li>
        <li class="header-list-item">
          <a href="#order" class="header-item-link header-btn">До покупок</a>
        </li>
      </ul>

      <!-- Mobile menu button -->
      <button type="button" class="header-burger-btn" aria-label="Открыть меню">
        <svg class="header-burger-btn-svg" width="32" height="32">
          <use href="/img/icons.svg#menuicon"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
